/**
* Global configuration for theme 
* {
  font-family: MonaspiceNe Nerd Font;
  font-size: 16px;
  border-radius: 0.75em;
}
* */
* {
  font-family: FiraCode , Noto Sans,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-radius: 0.75em;
}

window#waybar {
  background-color: transparent;
  color: @text;
  /* border: 2px solid @surface1;
  background: @base;
  box-shadow: 1px 1px 10px 10px @mantle;
  transition-property: background-color;
  transition-duration: 0.5s;
  */
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}

tooltip label {
  color: white;
}

label:focus {
  background-color: #000000;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* Remove border from parent waybar */
box {
  border: none;
}

/* Add spacing for right side modules */
#tray,
#user,
#custom-weather,
#battery,
#keyboard-state,
#mpd {
  padding: 0 1em;
}
/* Add spacing for right side modules */
#pulseaudio,
#backlight {
  padding: 0 0.5em;
}

#battery.charging,
#battery.plugged,
#battery.full
{
    color: @green;
}

#battery.critical:not(.charging) {
    background-color:  #f38ba8;
    color:#bf5673;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
  font-size: 16px;
  font-weight: 900;
}

#custom-separator-right,
#custom-separator-left {
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
  color: @text;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
